<!DOCTYPE html>
<html>
  <head>
    <title>Matchapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="top-page-header">
      <div class="header-top">
        <h1 class="title"><a href="/">.Circle</a></h1>
        <ul class='lists-right'>
          <% if user_signed_in? %>
            <li><%= link_to current_user.nickname, "/users/#{current_user.id}", class: "user-nickname" %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "sign-out" %></li>
          <% else %>
            <li><%= link_to 'Sign up', new_user_registration_path, class: "sign-up" %></li>
            <li><%= link_to 'Log in', new_user_session_path, class: "log-in" %></li>
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
